html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

@font-face {
  font-family: 'Inria Serif';
  src: url('InriaSerif-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.ready{
  text-align: center;
}

.players{
  /* align-items: center; */
  display: flex;
  justify-content: center;
  padding: 10px;
  border: none;
}


.player-buttons{
  font-size: 3rem;
  font-family: Inria Serif;
  border: none;
  margin-top: 3%;
  margin-right: 60px;
  margin-left: 60px;
}

body {
  font-family: Inria Serif;
}

.screen {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.title {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 10px;
}
.subtitle {
  font-size: 1.2rem;
  color: gray;
}
.tagline {
  position: absolute;
  bottom: 10px;
  right: 15px;
  font-size: 0.9rem;
  color: black;
}

.game2-image {
  /* position: absolute; */
  display: inline-block;
  width: 200px;
  height: auto;
}

.game3-image {
  /* position: absolute; */
  display: inline-block;
  width: 200px;
  height: auto;
}

.header{
  font-size: 75px;
}
